.headerImg {
  padding: 120px 10% 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(249, 249, 249); //TO DO: change to var secondary-color
  height: calc(100vh - 120px);
  & > h1 {
    color: rgb(33, 33, 33); //TO DO: change to var text color
  }
  .themeImg {
    width: 510px;
  }
}
